.mdl-card {
  font-family: $font-normal;
  width: 100%;
  margin: 0 auto;
  box-shadow: none;
  border : 1px solid black;

  .mdl-level {
    font-weight: bold;
    margin-left: 10px;
  }
  .mdl-distance {
    float: right;
  }
  &__title {
    height: 190px;
  }
  &__title-text {
    font-weight: bold;
  }
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background: url('../assets/images/thumbnail.png') 15% no-repeat #46B6AC;
  background-size: cover;
}

#listCards {
  padding-top : 50px;
  padding-bottom: 75px;
}