.mdl-card {
  font-family: $font-normal;
  width: 90%;
  margin: 0 auto;

  .mdl-level {
    font-weight: bold;
  }
  .mdl-distance {
    float: right;
  }
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background: url('../assets/images/thumbnail.png') 15% no-repeat #46B6AC;
}
