/*
colors
*/
$black : #000000;
$grey : #303030;
$main-color : rgb(115, 200, 169);



// Transitions
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);


body{
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}