.add__card {
  margin-bottom: 150px;
  h3 {
    color: rgba(0,0,0,.26);
    font-size: 16px;
    text-align: left;
    margin-bottom: 17px;
  }
  .add__card--rate {
    i {
      font-size: 44px;
      color: rgba(0, 0, 0, 0.26);
    }
    i.active {
      &:before {
        color: $main-color;
      }
    }
  }
  .submit {
    .submit__title {
      color: black;
      margin: 5vh auto 5vh 20px !important;
      font-size: 26px;
    }
    &:before {
      display: none;
    }
  }
}

.bold {
  font-weight: bold;
}