.one-card{
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background-color: white;
  animation-name: activate-one-card;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: $easeInOutCubic;
  @keyframes activate-one-card {
    0% {
      left: 100%;
      opacity: 0;
    }
    100%{
      left: 0%;
      opacity: 1;
    }
  }
}
.article__header {
  display: flex;
  height: 76px;
  font-family: $font-normal;
  h1 {
    margin: auto;
    font-size: 20px;
  }
}

.article {
  font-family: $font-normal;
  section {
    background: white;
    padding: 17px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 17px;
  }
  h3 {
    color: rgb(96, 96, 96);
    font-size: 20px;
    margin-bottom: 17px;
  }
  .article__main {
    border-bottom: 1px solid rgb(230, 230, 230);
  }
  .article__mainLevel p {
    margin-bottom: 17px;
  }
  .article__mainDescription {
    margin-bottom: 17px;
    line-height: 130%;
  }
  .article__main--bold {
    font-weight: bold;
  }
  .article__mainUser {
    display: flex;
    align-items: center;
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 17px;
    }
  }
  .article__head {
    color: white;
    background: rgb(64, 64, 64);
    .article__headDetails {
      display: flex;
      justify-content: space-between;
    }
  }
  .article__carousel {
    padding: 0;
  }
  .article__map {
    padding: 0;
    #map {
      height: 220px;
      width: 100%;
    }
  }
}
