<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    include ../partials/header.pug
    <main class="discover">
        <section class="discover__header">
            <h2>Spree Park</h2>
            <p>Zoom sur un parc d’attraction au passé douteux.</p>
        </section>
        <section>
            <div>
                <img src="discover_1.jpg">
            </div>
            <h3>Introduction</h3>
            <p>Un rêve d’enfant devenu réalité, Franz Strauss l’a fait. Qui n’a jamais voulu avoir son propre parc d’attraction ? Pourtant, sansavoir les moyens financiers pour une telle ambition, il était tout de même déterminé à accomplir son objectif. Ayant hérité d’un terrain de plusieurs hectares dans la province de Berlin, il lui manquait la matière première, les attractions. Mais pour ça, Franz Strauss eut l’idée pour s’équiper à moindre coût.</p>
        </section>
        <section>
            <img src="../assets/images/discover_2.jpg">
            <h3>Histoire</h3>
            <p>Il racheta à bas prix des attractions défaillantes ayant de graves problèmes de sécurité pour les installer dans son parc, une prise de risque mesurée mais nécessaire pour ouvrir son parc d’attraction. Un grand huit, un bateau pirate, un simulateur d’avion, une grande roue, le parc commença à prendre forme et ouvrit en 1969. Immédiatement les premiers problèmes techniques arrivèrent… Un samedi après-midi, en pleine heure de pointe, à cause d’un dérèglement du moteur, la grande roue tourna beaucoup plus vite que prévu à une vitesse folle, vue d’extérieur un spectacle hallucinant, des hurlements couverts par le bruit de la rotation de la grande roue et un déversement sans fin de vomis. Après 60 secondes, le bilan fut de 8 malaises, le constat aurait pu être beaucoup plus lourd. Deux ans plus tard, c’est le bateau pirate qui fit parler de lui. Avec 28 personnes à bord, le bateau pirate en pleine bascule se décrocha pour atterrir dans le plan d’eau à une centaine de mètres. Un miracle car il y eut aucune victime mais beaucoup de traumatismes.</p>
        </section>
        <section>
            <img src="../assets/images/discover_3.jpg">
            <h3>Dénouement tragique</h3>
            <p>Le parc fut menacé à plusieurs reprises de fermeture si les normes de sécurité n’étaient pas respectées. Prudent, le propriétaire fit signer, à l’entrée du parc, une décharge au client qui souhaite entrer dans le parc d’attraction, un document qui stipule qu’en cas d’accidents ou de décès, le parc n’est pas responsable. Quelques temps plus tard, un problème dans le réseau électrique entraîna une électrocution totale des autos tamponneuses. Le bilan fut lourd, suite à cela plusieurs enfants sont devenus tétraplégiques après des mois de coma. La réputation du parc fut tellement catastrophique que des suicidaires tentèrent leur chance en montant plusieurs fois dans les attractions réputées dangereuses. Le coup de grâce aura lieu en 2001 lorsque deux enfants du clan Kennedy prirent place dans un simulateur d’avion. Il prit feu et les enfants ne survécurent pas ce qui entraîna une médiatisation internationale autour de la poursuite de la malédiction des Kennedy. Après cet événement, le parc ne se releva jamais de la faillite.</p>
        </section>
        <section>
            <h3>Notre avis</h3>
            <p>Malgré le passé macabre de ce lieu, une aura appaisante s’en dégage pendant l’exploration. Faites attention malgré tout, gardez bien à l’esprit que le matériel est de mauvaise qualité, un accident est vite arrivée.</p>
        </section>
    </main>
    include ../partials/tabBar.pug
</body>
</html>