include ../partials/header.pug
include ../partials/search.pug

<main>
    <section id="listCards">

    </section>

    <a href="add-card.html">
        <button class="floating--button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
        </button>
    </a>

    <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar" stlye="z-index: 999;">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
    </div>
</main>

include ../partials/tabBar.pug
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>