<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</head>
<body>
<div class="submit">
    <h2 class="submit__title">Connexion</h2>
    <form class="submit__box submit__box--shadow">
        <div class="submit__input mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input submit__input__content" type="text" id="userName" name="text">
            <label class="mdl-textfield__label" for="text">Nom d'utilisateur</label>
        </div>
        <div class="submit__input mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input submit__input__content" type="password" id="password" name="password">
            <label class="mdl-textfield__label" for="password">Mot de passe</label>
        </div>
        <div class="submit__button">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Entrer Connexion
            </button>
        </div>
        <div class="submit__box__mdp">
            <a href="">Mot de passe oublié ?</a>
        </div>
        <div class="submit__box__inscription">Pas encore inscrit ? <a href="index.html">Sign Up !</a></div>
    </form>
</div>
</body>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</html>