<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
</head>
<body>
  include ../partials/header.pug
  <div class="profil-picture">
    <p>*photo ici*</p>
    <span>Jean-Michel Frontend</span>
  </div>
  <div class="profil-cards">
    <span>Mes publications</span>
    include ../partials/profilCard.pug
  <div/>
</body>
</html>
