<div>
    <article class="card-home">
        <div class="card-home__img">
            <h2 class="card-home__title"><p>découvert de La Chambre d'Antoine</p></h2>
            <img src={this.props.placeImg}/>
        </div>
        <div className="card-home__article">
            <p className="card-home__article__lvl">{this.props.placeLevel}</p>
            <h2 className="card-home__article__title">{this.props.placeName}</h2>
            <p className="card-home__article__desc">{this.props.placeDescription}</p>
        </div>
    </article>
</div>
