.search
    .search__container
        .search__bar__icon.icon-chevron_left_24px
        .search__bar
            .test-gerome
                <input class="search__bar__input" type="text" autocomplete placeholder="Lieu, titre, description ?"/>
                <button id="search_submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">add</i>
                </button>