.search
    .search__container
        .search__bar__icon.icon-chevron_left_24px
        .search__bar
            .test-gerome
                <button id="search_submit">Rechercher</button>
                <input class="search__bar__input" type="text" autocomplete placeholder="Cherchez votre lieu"/>