div.tabBar
    ul.tabBar__list

        a(href="discover.html").tabBar__list__item
            li#tabBarDiscover
                i.icon-book_24px
                p Découvrir
        a(href="home.html").tabBar__list__item
            li#tabBarHome
                i.icon-book_24px
                p Accueil
        a(href="profil.html").tabBar__list__item
            li#tabBarProfil
                i.icon-book_24px
                p Profil

script(src='../js/tabBAr.js')