div.tabBar
    ul.tabBar__list
        li.tabBar__list__item
            <a href="discover.html"><i class="icon-book_24px"></i> <p>Découvrir</p></a>
        li.tabBar__list__item
            <a href="home.html"><i class="icon-home_24px"></i> <p>Accueil</p></a>
        li.tabBar__list__item
            <a href=""><i class="icon-user_24px"></i> <p>Profile</p></a>