div.tabBar
    ul.tabBar__list
        li.tabBar__list__item
            <a href=""><i></i> <p>item 1</p></a>
        li.tabBar__list__item
            <a href=""><i></i> <p>item 2</p></a>
        li.tabBar__list__item
            <a href=""><i></i> <p>item 3</p></a>