div.tabBar
    ul.tabBar__list
        a(href="add-card.html").tabBar__list__item
            li#tabBarDiscover
                i.icon-book_24px
                p Ajouter
        a(href="home.html").tabBar__list__item
            li#tabBarHome
                i.icon-book_24px
                p Accueil
        a(href="logout.html").tabBar__list__item
            li#tabBarLogout
                i.icon-book_24px
                p Déconnexion

